<div class="hero-unit">
	<div class= "content">
		<%= render 'script_content' %>
	</div>	
</div>


<div class="well">
	<%= link_to "Tro ve trang chu", root_path, :class => "btn btn-info pull-left"%>
	<%= link_to "Thoi khong dich nua", "/byebye", :class => "btn btn-info pull-right"%>
</div>